<launch>
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="x_init" default="5"/>
  <arg name="y_init" default="3"/>
  <arg name="z_init" default="0"/>
  <arg name="theta_init" default="0"/>
  <arg name="x_final" default="4"/>
  <arg name="y_final" default="4"/>
  <arg name="clearance" default="0"/>
  <arg name="rpm1" default="15"/>
  <arg name="rpm2" default="10"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find astar_turtlebot)/world/map.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>

  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find turtlebot3_description)/urdf/turtlebot3_$(arg model).urdf.xacro" />

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-urdf -model turtlebot3 -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg theta_init) -param robot_description" />
  
  <node pkg="astar_turtlebot" type="astar_tb3" name="robot_talker" output="screen" />
</launch>

